<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <img src="../../../assets/images/logo_big.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
  <a class="navbar-brand" routerLink="home">
    Shopping List App
  </a>
<div class="collapse navbar-collapse" id="nav">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" routerLink="home">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" routerLink="login" aria-haspopup="true">Log In</a>
    <a class="nav-item nav-link active" routerLink="signup">Sign Up</a>

  </div>
</div>
</nav>