<div data-spy="scroll" data-target="#nav">

<div class="container-fluid moving_container" id="heading">
      <div class="row">
        <div class="col-sm-6" id="hero_img_div avatar-up">
          <img src="./assets/images/home2.jpg" class="img-fluid animated" alt="">
        </div>
        <div class="col-sm-6" id="heading_div">
          <h1 class="text-dark font-weight-bold">Shopping List</h1>
          <h2 class="text-secondary">Making Your Shopping Experience a Breeze</h2>
          <div id="button_group">
            <a routerLink="/login" class="btn btn-primary">Log In</a>
            <a routerLink="/signup" class="btn btn-outline-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>

<div id="information_div" class="container-fluid">
  <div class="row">
    <div class="grey_box col-lg" id="one">
      <!-- <div class="icon"><i class="fa fa-line-chart fa-2x"></i></div> -->
          <h4 class="title"><a>Create Your Shopping List</a></h4>
          <p class="text-muted">
            Add items, segregate them into categories and much more with our all in one app that provides a solution to the common problem of making manual shopping lists
          </p>
    </div>
    <div class="grey_box col-lg" id="two">
      <!-- <div class="icon"><i class="fa fa-black-tie fa-2x"></i></div> -->
          <h4 class="title"><a href="">Easily Manage Your Items</a></h4>
          <p class="text-muted">
            Once the items are added, you can track all your items from one page. This makes the list very easy and reusable for as long as you want.
          </p>
    </div>
    <div class="grey_box col-lg" id="three">
      <!-- <div class="icon"><i class="fa fa-desktop fa-2x"></i></div> -->
          <h4 class="title"><a href="">Mobile Friendly Design</a></h4>
          <p class="text-muted">
             This app is designed to be mobile-friendly. This means that you can use our app on the fly while you are shopping without any hassle. Happy shopping.
          </p>
    </div>
  </div>
</div>


<div id="contact_us_div" class="grey_box">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h1 class="text-dark font-weight-bold">Contact Us</h1>
        <h4 class="text-secondary">Any Queries ?</h4>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-2">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i><br>
          </div>
          <div class="col-10">
            <h4>Phone:</h4>
            <h6 class="text-muted">+91 9710944416</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
          <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i><br>
          </div>
          <div class="col-10">
            <h4>Whatsapp:</h4>
            <h6 class="text-muted">+91 9710944416</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><br>
          </div>
          <div class="col-10">
            <h4>E-mail:</h4>
             <h6 class="text-muted">lennox.sweeton@gmail.com</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
