<h1 mat-dialog-title>Add Item</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance" novalidate>
    
    <div>

        <mat-form-field class="fullWidth" appearance="outline" [style.width.%]=100>
          <mat-label>Cateogry</mat-label>
          <input matInput type="text" 
          name="category" formControlName="category">
          <!-- <mat-error *ngIf="formInstance.controls['category']?.errors">field required -->
          <!-- </mat-error> -->
        </mat-form-field>
        <!-- <button mat-button mat-raised-button color="warn" ><mat-icon>add_circle_outline</mat-icon> Add Category</button> -->
      </div>

    <div>
      <mat-form-field class="fullWidth" appearance="outline" [style.width.%]=100>
        <mat-label>Name</mat-label>
        <input matInput type="text" 
        name="item_name" formControlName="item_name">
        <mat-error *ngIf="
        formInstance.controls['item_name']?.errors">field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline" [style.width.%]=100>
        <mat-label>Brand</mat-label>
        <input matInput type="text" name="brand" formControlName="brand" />
        <mat-error *ngIf="
        formInstance.controls['brand']?.errors">field required</mat-error>
      </mat-form-field>

      <mat-form-field class="fullWidth" appearance="outline" [style.width.%]=100>
        <mat-label>Remarks</mat-label>
        <input matInput type="text" name="remaks" formControlName="remarks" />
        <mat-error *ngIf="
        formInstance.controls['remarks']?.errors">field required</mat-error>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" [style.width.%]=100>
            <mat-label>UOM</mat-label>
            <mat-select name="uom" formControlName="uom">
              <mat-option value="50 gm">50 gm</mat-option>
              <mat-option value="100 gm">100 gm</mat-option>
              <mat-option value="200 gm">200 gm</mat-option>
              <mat-option value="250 gm">250 gm</mat-option>
              <mat-option value="1/2 kg">1/2 kg</mat-option>
              <mat-option value="1 kg">1 kg</mat-option>
              <mat-option value="1/2 litre">1/2 litre</mat-option>
              <mat-option value="1 litre">1 litre</mat-option>
              <mat-option value="nos">nos</mat-option>
            </mat-select>
          </mat-form-field>
    
            <mat-form-field class="fullWidth" appearance="outline" [style.width.%]=100>
              <mat-label>Quantity</mat-label>
              <input matInput type="number" name="quantity" formControlName="quantity" />
              <mat-error *ngIf="
              formInstance.controls['quantity']?.errors">field required</mat-error>
            </mat-form-field>
    </div>
  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="red" 
  [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>

</div>